In [37]:
def quickGroup(res,target):
    res['different_email'] = res.apply(
        lambda row: row['reciver'] if row['sender'] == target else row['sender'], axis=1)

    def concatenate_group(group):
        return '|'.join(['date:{} sender:{} reciver:{} content:{}'.format(row['date'], row['sender'], row['reciver'],row['content']) for idx, row in group.iterrows()])

    res = res.groupby('different_email').apply(concatenate_group).reset_index()
    return res

In [38]:
from search_utils import select1

In [39]:
_,answer_df=select1("phillip.allen@enron.com", "2000-01-13", "2000-12-14")
answer_df

,message_id,date,sender,reciver,content,index
0,8610882.1075855692600.JavaMail.evans@thyme,2000-01-13 10:30:00,phillip.allen@enron.com,brenda.flores-cuellar@enron.com,Jeff/Brenda:\n\nPlease authorize the following...,295
1,1678403.1075855672927.JavaMail.evans@thyme,2000-01-13 10:30:00,phillip.allen@enron.com,brenda.flores-cuellar@enron.com,Jeff/Brenda:\n\nPlease authorize the following...,982
2,21833620.1075855673443.JavaMail.evans@thyme,2000-01-13 10:30:00,phillip.allen@enron.com,brenda.flores-cuellar@enron.com,Jeff/Brenda:\n\nPlease authorize the following...,1899
3,17997025.1075855686087.JavaMail.evans@thyme,2000-01-13 10:30:00,phillip.allen@enron.com,brenda.flores-cuellar@enron.com,Jeff/Brenda:\n\nPlease authorize the following...,3191
4,10404043.1075855692579.JavaMail.evans@thyme,2000-01-13 11:35:00,phillip.allen@enron.com,slewis2@enron.com,"Susan,\n\n I received an enrollment confirmati...",294
...,...,...,...,...,...,...
1635,4387230.1075855719026.JavaMail.evans@thyme,2000-12-14 14:15:00,phillip.allen@enron.com,stagecoachmama@hotmail.com,"Lucy,\n\nHere is a new file for 12/15.\n\n\n\n...",3515
1636,9400496.1075855729384.JavaMail.evans@thyme,2000-12-14 14:33:00,phillip.allen@enron.com,stagecoachmama@hotmail.com,"Lucy,\n\n I want to get the lease data and ten...",616
1637,16063461.1075855699820.JavaMail.evans@thyme,2000-12-14 14:33:00,phillip.allen@enron.com,stagecoachmama@hotmail.com,"Lucy,\n\n I want to get the lease data and ten...",1330
1638,1820733.1075855707677.JavaMail.evans@thyme,2000-12-14 14:33:00,phillip.allen@enron.com,stagecoachmama@hotmail.com,"Lucy,\n\n I want to get the lease data and ten...",2104
1639,29895189.1075855719004.JavaMail.evans@thyme,2000-12-14 14:33:00,phillip.allen@enron.com,stagecoachmama@hotmail.com,"Lucy,\n\n I want to get the lease data and ten...",3514

In [40]:
answer_2=quickGroup(answer_df,"phillip.allen@enron.com")

C:\Users\yang\AppData\Local\Temp\ipykernel_9640\3757202565.py:8: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  res = res.groupby('different_email').apply(concatenate_group).reset_index()

In [41]:
answer_2

,different_email,0
0,Circuit Provisioning@ENRON,date:2000-05-01 10:56:00 sender:phillip.allen@...
1,al.pollard@enron.com,date:2000-05-31 17:01:00 sender:phillip.allen@...
2,andrea.richards@enron.com,date:2000-12-06 12:43:00 sender:phillip.allen@...
3,andy.zipper@enron.com,date:2000-10-24 14:50:00 sender:phillip.allen@...
4,anne.bike@enron.com,date:2000-10-31 12:12:00 sender:phillip.allen@...
...,...,...
129,vladimir.gorny@enron.com,date:2000-10-30 09:14:00 sender:phillip.allen@...
130,william.kelly@enron.com,date:2000-01-18 18:03:00 sender:phillip.allen@...
131,ywang@enron.com,date:2000-07-11 09:12:00 sender:phillip.allen@...
132,zimam@enron.com,date:2000-10-16 13:44:00 sender:phillip.allen@...
133,zimin.lu@enron.com,date:2000-03-27 10:27:00 sender:zimin.lu@enron...

In [42]:
import requests
app2 = "fastgpt-bQox5Okz3inwbNkDfDcpboTwuzycOy1rwGSKt4h4rBFvwvTUFui0QiGPJ8x5wZoec"
def chat_fast(content,chatId,appid):
    url = 'https://api.fastgpt.in/api/v1/chat/completions'
    headers = {
        'Authorization': 'Bearer '+appid,
        'Content-Type': 'application/json'
    }
    data = {
        "chatId": chatId,
        "stream": False,
        "detail": False,
        "messages": [
            {
                "content": content,
                "role": "user"
            }
        ]
    }
    response = requests.post(url, headers=headers, json=data)
    response_json = response.json()
    print(response_json)
    message=response_json['choices'][0]['message']['content']
    return message

In [43]:
answer_2

,different_email,0
0,Circuit Provisioning@ENRON,date:2000-05-01 10:56:00 sender:phillip.allen@...
1,al.pollard@enron.com,date:2000-05-31 17:01:00 sender:phillip.allen@...
2,andrea.richards@enron.com,date:2000-12-06 12:43:00 sender:phillip.allen@...
3,andy.zipper@enron.com,date:2000-10-24 14:50:00 sender:phillip.allen@...
4,anne.bike@enron.com,date:2000-10-31 12:12:00 sender:phillip.allen@...
...,...,...
129,vladimir.gorny@enron.com,date:2000-10-30 09:14:00 sender:phillip.allen@...
130,william.kelly@enron.com,date:2000-01-18 18:03:00 sender:phillip.allen@...
131,ywang@enron.com,date:2000-07-11 09:12:00 sender:phillip.allen@...
132,zimam@enron.com,date:2000-10-16 13:44:00 sender:phillip.allen@...
133,zimin.lu@enron.com,date:2000-03-27 10:27:00 sender:zimin.lu@enron...

In [44]:
content=answer_2[0][1].split("|")
content

["date:2000-05-31 17:01:00 sender:phillip.allen@enron.com reciver:al.pollard@enron.com content:Al,\n\nI was glad to hear from you.  I hope we can put the past behind us.  Sounds \nlike you have been busy.  Congratulations on the new baby.  Judging from your \nemail all is well with you.   That's great.  \n\nWe did have another girl in December, (Evelyn Grace).  Three is it for us.  \nWhat's your target?  The other two are doing well.  Soccer, T-ball, and bike \nriding keeps them busy.  They could use some of Cole's coordination.\n\nMy fitness program is not as intense as yours right now.  I am just on \nmaintenance.  You will be surprised to hear that Hunter is a fanatical \ncyclist.  We have been riding to work twice a week for the last few months.  \nHe never misses, rain or shine.  Sometimes we even hit the trails in Memorial \nPark on Saturdays.   Mountain biking is not as hard as a 50 mile trip on the \nroad.  I would like to dust off my road bike and go for a ride some Saturday.\n\nI would like to hear more about your new job.  Maybe we could grab lunch \nsometime.  \n\nPhillip\n\n",
 "date:2000-05-31 17:01:00 sender:phillip.allen@enron.com reciver:al.pollard@enron.com content:Al,\n\nI was glad to hear from you.  I hope we can put the past behind us.  Sounds \nlike you have been busy.  Congratulations on the new baby.  Judging from your \nemail all is well with you.   That's great.  \n\nWe did have another girl in December, (Evelyn Grace).  Three is it for us.  \nWhat's your target?  The other two are doing well.  Soccer, T-ball, and bike \nriding keeps them busy.  They could use some of Cole's coordination.\n\nMy fitness program is not as intense as yours right now.  I am just on \nmaintenance.  You will be surprised to hear that Hunter is a fanatical \ncyclist.  We have been riding to work twice a week for the last few months.  \nHe never misses, rain or shine.  Sometimes we even hit the trails in Memorial \nPark on Saturdays.   Mountain biking is not as hard as a 50 mile trip on the \nroad.  I would like to dust off my road bike and go for a ride some Saturday.\n\nI would like to hear more about your new job.  Maybe we could grab lunch \nsometime.  \n\nPhillip\n\n",
 "date:2000-05-31 17:01:00 sender:phillip.allen@enron.com reciver:al.pollard@enron.com content:Al,\n\nI was glad to hear from you.  I hope we can put the past behind us.  Sounds \nlike you have been busy.  Congratulations on the new baby.  Judging from your \nemail all is well with you.   That's great.  \n\nWe did have another girl in December, (Evelyn Grace).  Three is it for us.  \nWhat's your target?  The other two are doing well.  Soccer, T-ball, and bike \nriding keeps them busy.  They could use some of Cole's coordination.\n\nMy fitness program is not as intense as yours right now.  I am just on \nmaintenance.  You will be surprised to hear that Hunter is a fanatical \ncyclist.  We have been riding to work twice a week for the last few months.  \nHe never misses, rain or shine.  Sometimes we even hit the trails in Memorial \nPark on Saturdays.   Mountain biking is not as hard as a 50 mile trip on the \nroad.  I would like to dust off my road bike and go for a ride some Saturday.\n\nI would like to hear more about your new job.  Maybe we could grab lunch \nsometime.  \n\nPhillip\n\n",
 "date:2000-07-10 13:54:00 sender:phillip.allen@enron.com reciver:al.pollard@enron.com content:Al,\n\nI am not in good enough shape to ride a century right now.  Plus I'm nursing \nsome injuries.  I can do lunch this week or next, let's pick a day.\n\nPhillip",
 "date:2000-07-10 13:54:00 sender:phillip.allen@enron.com reciver:al.pollard@enron.com content:Al,\n\nI am not in good enough shape to ride a century right now.  Plus I'm nursing \nsome injuries.  I can do lunch this week or next, let's pick a day.\n\nPhillip",
 "date:2000-07-10 13:54:00 sender:phillip.allen@enron.com reciver:al.pollard@enron.com content:Al,\n\nI am not in good enough shape to ride a century right now.  Plus I'm nursing \nsome injuries.  I can do lunch this week or next, let's pick a day.\n\nPhillip",
 'date:2000-07-11 09:50:00 sender:phillip.allen@enron.com reciver:al.pollard@enron.com content:How about Tuesday at 11:15 in front of the building?',
 'date:2000-07-11 09:50:00 sender:phillip.allen@enron.com reciver:al.pollard@enron.com content:How about Tuesday at 11:15 in front of the building?',
 'date:2000-07-11 09:50:00 sender:phillip.allen@enron.com reciver:al.pollard@enron.com content:How about Tuesday at 11:15 in front of the building?',
 'date:2000-07-18 09:38:00 sender:phillip.allen@enron.com reciver:al.pollard@enron.com content:11:15 today still works.',
 'date:2000-07-18 09:38:00 sender:phillip.allen@enron.com reciver:al.pollard@enron.com content:11:15 today still works.',
 'date:2000-07-18 09:38:00 sender:phillip.allen@enron.com reciver:al.pollard@enron.com content:11:15 today still works.']

In [45]:
import pandas as pd
content=answer_2[0][1].split("|")
content
parsed_data = []
for item in content:
    parts = item.split(' ')
    date_day = parts[0].split(':')[1]
    date_time= parts[1]
    date = f"{date_day} {date_time}"
    print(date)
    sender = parts[2].split(':')[1]   
    receiver = parts[3].split(':')[1]    
    content = ' '.join(parts[4:]).split(':')[-1]
    parsed_data.append({'date': date, 'sender': sender, 'receiver': receiver, 'content': content})
# 创建DataFrame
df = pd.DataFrame(parsed_data)
df

2000-05-31 17:01:00
2000-05-31 17:01:00
2000-05-31 17:01:00
2000-07-10 13:54:00
2000-07-10 13:54:00
2000-07-10 13:54:00
2000-07-11 09:50:00
2000-07-11 09:50:00
2000-07-11 09:50:00
2000-07-18 09:38:00
2000-07-18 09:38:00
2000-07-18 09:38:00

,date,sender,receiver,content
0,2000-05-31 17:01:00,phillip.allen@enron.com,al.pollard@enron.com,"Al,\n\nI was glad to hear from you. I hope we..."
1,2000-05-31 17:01:00,phillip.allen@enron.com,al.pollard@enron.com,"Al,\n\nI was glad to hear from you. I hope we..."
2,2000-05-31 17:01:00,phillip.allen@enron.com,al.pollard@enron.com,"Al,\n\nI was glad to hear from you. I hope we..."
3,2000-07-10 13:54:00,phillip.allen@enron.com,al.pollard@enron.com,"Al,\n\nI am not in good enough shape to ride a..."
4,2000-07-10 13:54:00,phillip.allen@enron.com,al.pollard@enron.com,"Al,\n\nI am not in good enough shape to ride a..."
5,2000-07-10 13:54:00,phillip.allen@enron.com,al.pollard@enron.com,"Al,\n\nI am not in good enough shape to ride a..."
6,2000-07-11 09:50:00,phillip.allen@enron.com,al.pollard@enron.com,15 in front of the building?
7,2000-07-11 09:50:00,phillip.allen@enron.com,al.pollard@enron.com,15 in front of the building?
8,2000-07-11 09:50:00,phillip.allen@enron.com,al.pollard@enron.com,15 in front of the building?
9,2000-07-18 09:38:00,phillip.allen@enron.com,al.pollard@enron.com,15 today still works.
10,2000-07-18 09:38:00,phillip.allen@enron.com,al.pollard@enron.com,15 today still works.
11,2000-07-18 09:38:00,phillip.allen@enron.com,al.pollard@enron.com,15 today still works.

In [46]:
message_answer=chat_fast(answer_2[0][1],31,app2)

{'id': 31, 'model': '', 'usage': {'prompt_tokens': 1, 'completion_tokens': 1, 'total_tokens': 1}, 'choices': [{'message': {'role': 'assistant', 'content': '1. 2000年5月31日：菲利普与艾尔重修旧好，祝贺艾尔新添宝宝，分享自己家庭的动态，包括新生女儿Evelyn Grace和儿子Hunter的骑车爱好。\n2. 菲利普询问艾尔新工作的详情，并提议共进午餐。\n3. 7月10日，菲利普因身体原因无法参加长途骑行，提出本周或下周吃午餐，讨论具体时间。\n4. 7月11日，菲利普建议周二上午11:15见面。\n5. 7月18日，确认周二11:15的见面时间不变。'}, 'finish_reason': 'stop', 'index': 0}]}

In [47]:
message_answer

'1. 2000年5月31日：菲利普与艾尔重修旧好，祝贺艾尔新添宝宝，分享自己家庭的动态，包括新生女儿Evelyn Grace和儿子Hunter的骑车爱好。\n2. 菲利普询问艾尔新工作的详情，并提议共进午餐。\n3. 7月10日，菲利普因身体原因无法参加长途骑行，提出本周或下周吃午餐，讨论具体时间。\n4. 7月11日，菲利普建议周二上午11:15见面。\n5. 7月18日，确认周二11:15的见面时间不变。'

In [48]:
answer=[]
answer.append([df,message_answer])
answer.append([df,message_answer])
answer.append([df,message_answer])
answer.append([df,message_answer])
answer.append([df,message_answer])
answer.append([df,message_answer])
item=answer[5][0]
item

,date,sender,receiver,content
0,2000-05-31 17:01:00,phillip.allen@enron.com,al.pollard@enron.com,"Al,\n\nI was glad to hear from you. I hope we..."
1,2000-05-31 17:01:00,phillip.allen@enron.com,al.pollard@enron.com,"Al,\n\nI was glad to hear from you. I hope we..."
2,2000-05-31 17:01:00,phillip.allen@enron.com,al.pollard@enron.com,"Al,\n\nI was glad to hear from you. I hope we..."
3,2000-07-10 13:54:00,phillip.allen@enron.com,al.pollard@enron.com,"Al,\n\nI am not in good enough shape to ride a..."
4,2000-07-10 13:54:00,phillip.allen@enron.com,al.pollard@enron.com,"Al,\n\nI am not in good enough shape to ride a..."
5,2000-07-10 13:54:00,phillip.allen@enron.com,al.pollard@enron.com,"Al,\n\nI am not in good enough shape to ride a..."
6,2000-07-11 09:50:00,phillip.allen@enron.com,al.pollard@enron.com,15 in front of the building?
7,2000-07-11 09:50:00,phillip.allen@enron.com,al.pollard@enron.com,15 in front of the building?
8,2000-07-11 09:50:00,phillip.allen@enron.com,al.pollard@enron.com,15 in front of the building?
9,2000-07-18 09:38:00,phillip.allen@enron.com,al.pollard@enron.com,15 today still works.
10,2000-07-18 09:38:00,phillip.allen@enron.com,al.pollard@enron.com,15 today still works.
11,2000-07-18 09:38:00,phillip.allen@enron.com,al.pollard@enron.com,15 today still works.

In [58]:
for index,row in item.iterrows():
    date_item=row["date"]
date_item

'2000-07-18 09:38:00'

In [51]:
conclusion=answer[5][1]
conclusion

'1. 2000年5月31日：菲利普与艾尔重修旧好，祝贺艾尔新添宝宝，分享自己家庭的动态，包括新生女儿Evelyn Grace和儿子Hunter的骑车爱好。\n2. 菲利普询问艾尔新工作的详情，并提议共进午餐。\n3. 7月10日，菲利普因身体原因无法参加长途骑行，提出本周或下周吃午餐，讨论具体时间。\n4. 7月11日，菲利普建议周二上午11:15见面。\n5. 7月18日，确认周二11:15的见面时间不变。'